#notifyDiv {
  position: absolute;
}

#notify_cell {
  top: 50px;
  background-color: #66bb6a;
  color: #FFF;
  width: 200px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  animation-name: ooxx;
  animation-duration: 1s;
}

#notifyDiv>div>div {
  margin: 5px;
  font-size: 20px;
}

@keyframes ooxx {
  from {
    width: 0px;
    margin-left: 100px;
    left: 700px;
  }
  to {
    width: 200px;
    margin-left: 5px;
    left: 40px;
  }
}

#top {
  display: flex;
  justify-content: space-between;
}

#topLeft {
  display: flex;
  justify-content: flex-end;
}

#topLeft>div {
  margin: 5px;
}

#content {
  padding: 5px;
  width: 95%;
  height: 250px;
  border: 2px solid #000;
  overflow: auto;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}

#inputText {
  margin: 10px;
  padding: 5px;
  width: 95%;
  height: 90px;
  border: 2px solid #000;
  font-size: 16px;
  font-weight: bold;
  overflow: auto;
}

.remote_text {
  word-break: break-all;
  max-width: 150px;
  width: auto;
  display: inline-block !important;
  display: inline;
  height: auto;
  /*max-height: 100px;*/
  padding: 5px;
  border-radius: 10px;
  position: relative;
  margin-left: 20px;
  margin-right: 80px;
  color: #eee;
  background-color: #4179f1;
}

.remote_text::before {
  content: "";
  position: absolute;
  top: 7px;
  border-top: 2px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 10px solid #4179f1;
  left: -10px;
}

.local_text {
  word-break: break-all;
  max-width: 150px;
  width: auto;
  display: inline-block !important;
  display: inline;
  height: auto;
  /*max-height: 100px;*/
  padding: 5px;
  border-radius: 10px;
  position: relative;
  order: -1;
  margin-left: 80px;
  margin-right: 20px;
  background-color: #aaa;
}

.local_text::after {
  content: "";
  position: absolute;
  top: 7px;
  border-top: 2px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid #aaa;
  right: -10px;
}

.remote_box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.local_box {
  display: flex;
  margin-bottom: 15px;
  justify-content: flex-end;
}

.head_sticker {
  width: 30px;
  height: 30px;
  text-align: center;
  flex-shrink: 0;
}

.pic {
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 32px !important;
  height: 32px;
  vertical-align: bottom !important;
}

.gifIndex {
  width: 45px;
  animation-play-state: paused;
}

.gif {
  width: 45px;
  animation-play-state: paused;
}

#chat {
  border: 1px solid red;
  width: 550px;
  display: flex;
  flex-direction: column;
}

#chat>div {
  margin: 5px;
}

#chatHead {
  height: 20px;
}

#tools {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

#tools>div {
  margin: 3px;
}

#sticker {
  position: relative;
}

#stickers {
  display: flex;
  flex-direction: column;
}

#stickers_head {
  display: flex;
  width: 100%;
}

#stickers_head>div {
  display: flex;
}

.left {
  flex: none;
}

.right {
  flex: 1;
  justify-content: flex-end;
}

#stickers_head>div>div {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 20px;
  font-weight: bold;
}

#stickers_head>div>div.active,
#stickers_head>div>div:hover {
  text-shadow: 0 0 10px #FFFFFF;
  cursor: pointer;
}

#stickers {
  /*border: 1px solid red;*/
  position: fixed;
  padding: 5px;
  max-width: 450px;
  text-align: start;
  background-color: rgba(100, 100, 100, 0.4);
}

#shell {
  display: flex;
}

#friends {
  width: 150px;
  border: 1px solid red;
}

#friends_head {
  background-color: #777;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#friends_body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#friends_body>div {
  padding: 5px;
  flex: 1;
  text-align: center;
}

#friends_body>div.active,
#friends_body>div:hover {
  text-shadow: 0 0 10px #FFFFFF;
  box-shadow: inset 0 0 20px #FFFFFF;
  cursor: pointer;
}

#addFriendForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: #4EFEB3;
  border-radius: 10px;
}

#addFriendForm_head {
  display: flex;
}

#addFriendForm_title {
  position: relative;
  left: 5px;
}

#addFriendForm_close {
  position: relative;
  left: 50px;
}

#addFriendForm>div {
  margin: 5px;
}

#centerDiv {
  position: absolute;
  top: 300px;
}