body {
  background-color: #eee;
  font-size: larger;
}

/* log in */
#login_form {
  border-radius: 10px;
  background-color: #fff;
  position: absolute;

  left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

  padding: 10px;
  box-shadow: 0 2px 10px #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

form>div>div {
  margin: 10px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dddfe2;
}

#btn_login {
  width: 100%;
  text-align: center;
}

#btn_login>button {
  background-color: royalblue;
  color: #fff;
  width: 90%;
}

button {
  font-weight: bold;
  background-color: #82D900;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

button:active,
button:hover {
  cursor: pointer;
}


/* sign up */
#signup_form {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  border-radius: 10px;
  background-color: #ddd;
  text-align: center;
  padding:10px;
}

#signup_head {
  display: flex;
  justify-content: space-between;
}
#signup_head>div {
  margin: 10px;
}
#signup_close:active, #signup_close:hover{
  cursor: pointer;
}

#signup_body{
  margin:5px;
}

#signup_body>div {
  margin: 10px;
}

#sign_up{
  width: 100%;
  text-align: center;
}
#sign_up>button {
  color: #fff;
  width: 90%;
}

/* notify */
#notifyDiv {
  position: absolute;
  left: 50%;
	transform: translateX(-50%);
}

#notify_cell {
  top: 50px;
  background-color: #66bb6a;
  color: #FFF;
  width: 200px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  animation-name: ooxx;
  animation-duration: 1s;
}

#notifyDiv>div>div {
  margin: 5px;
  font-size: 20px;
}

@keyframes ooxx {
  from {
    width: 0px;
    margin-left: 100px;
    left: 700px;
  }
  to {
    width: 200px;
    margin-left: 5px;
    left: 40px;
  }
}


