
<link rel="stylesheet " type="text/css " href="../static/css/invitation.css ">

<div id="addFriendForm" style="display: none;">
  <div id="addFriendForm_head">
    <div></div>
    <div id="addFriendForm_title">好友邀請</div>
    <div id="addFriendForm_close" class="btn"><i class="fas fa-times"></i></div>
  </div>

  <div id="addFriendForm_body">
    <div id="addFriendForm_body_input">
      <div><input type="text" id="invitedID" placeholder="好友ID" maxlength="20"></div>
      <div><button id="btn_invite">邀請</button></div>
    </div>
    <div id="invite_message"></div>
    <div id="addFriendForm_body_invitation">
    </div>
  </div>
</div>